---
---

/*Variables*/ 

/* THEME
=============================================================== */

$color--gallery: #eee;
$color--alabaster: #fafafa;

$color--spoke: #FF6060;

/* BASE
=============================================================== */

$base--font-family: 'Muli', 'Helvetica Neue', 'Arial', sans-serif;
$base--font-family-h: 'Lora', serif;
$base--font-size: 16px;
$base--color-primary: #000;
$base--color-secondary: #555;
$base--color-tertiary: #888;
$base--background: white;

/* LAYOUT
=============================================================== */

$page--margin-lr: 32px;
$page--max-width: 1152px;

@mixin line-height($mult) {
  line-height: $mult * 16px; // mult * base rhythm
}


/* GENERAL
=============================================================== */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: $base--font-family;
  font-size: $base--font-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $base--color-primary;
  background: $base--background;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0; padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $base--font-family-h;
}

h1 {
  font-size: 48px;
  /*@include line-height(4.5);*/
}

h2 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    letter-spacing: .025em;
  /*@include line-height(1.5);*/
}

h3 {
  font-size: 32px;
  @include line-height(3);
}

@mixin container() {
  width: 100%;
  max-width: $page--max-width;
  margin: 0 $page--margin-lr;
}

p{
    font-size: 20px;
    line-height: 28px;
    letter-spacing: .025em;
    margin-top: 10px;
}

/* HERO, HEADER
=============================================================== */

$hero--height: 680px;

section.hero {
  display: flex;
  justify-content: center;
  position: relative;

  height: $hero--height;
  background: white;
  background: linear-gradient(to right, white 0%, white 49%, $color--spoke 51%, $color--spoke 100%);
  overflow: hidden;

}

.hero-container {
  @include container();

  display: flex;
  position: relative;

  background: white;
}

.container-cta, .container-demo {
  flex: 1;
}

.container-cta {
  display: flex;
  flex-direction: column;

  padding-top: 185px;

  h1 {
    max-width: 500px;
    margin-bottom: 30px;
  }
  p {
    max-width: 500px;

    margin-bottom: 30px;
    font-size: 20px;
    /*@include line-height(2);*/
    color: $base--color-secondary;
  }
}

.container-demo {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.demo-bkg-square {
  position: absolute;
  right: 0;
  z-index: 1;

  width: 0;
  height: 0;
  border-top: $hero--height solid $color--spoke;
  border-left: $hero--height solid transparent;

}

.demo-illustration {
  position: absolute;
  bottom: 80px;
  right: 0;
  z-index: 2;
  width: 420px;
}

.cta-button-container {
  height: 112px;
  margin-top: 50px;
}

.cta-texture-container {
  position: absolute;
  /*left: 116px; right: 0; */
  z-index: 0;
  overflow: hidden;
}

img.cta-texture {
  height: 112px;
}

button.cta-button {
  position: relative;
  z-index: 2;

  height: 64px;
  margin: 32px 0 0; padding: 0 32px;
  border: none;
  border-radius: 8px;
  color: white;
  background: $color--spoke;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  }

header.header {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  z-index: 3;

  width: 100%; height: 128px;
}

.container-wordmark {
  margin-top: 10px;
}

.header-container {
  @include container();

  display: flex;
}

/* CONTENT
=============================================================== */

section.content {
  padding-top: 20px;
  background: white;
  justify-content: center;

}

/*start content-1*/

.content-1{
  position: relative;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: center;

}

.illustration img{
  height: 400px;
  widows: 100%;
  margin: 20px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

}

/*(.illustration{
  margin-right: 32px;

}*/

.text h2{
width: 450px;
font-style: normal;
font-weight: normal;
line-height: 45px;
font-size: 30px;
}

.text {
width: 450px;
font-style: normal;
font-weight: normal;
line-height: 47px;
font-size: 30px;
}



/*end content-1*/

/*start content-2*/

.content-2 {
  position: relative;
  display: flex;
  /*margin-top: 100px;*/
  margin-bottom: 100px;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
}

.value-box{
  padding: 50px;
  width: 400px;
  align-content: center;
}

.value-box img{
  height: 100px;

}


/*end content-2*/

/*who uses chai section*/


.who-uses-chai{
   justify-content: center;

}


.grid-of-chai-users{
  align-items: center;
  justify-content: center;
}


.two-chai-users{
  display: flex;
  justify-content: center;
  align-items: center;
}

.chai-user {
  display: flex;
  position: relative;
  align-items: center;
}

.chai-user img{
  max-width: 60px;
  max-height: 60px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.chai-user-text-container{
  max-width: 350px;
  margin: 50px 50px 50px 50px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 25px;
  box-shadow: -2px 2px 5px #EEEEEE;
  border: .5px solid #EEEEEE;

}


/*end who uses chai section*/



/* SIGNUP
=============================================================== */

section.signup {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding-top: 77px; padding-bottom: 93px;
}

.signup-container {
  @include container();

  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-title {
  margin-bottom: 12px;
  text-align: center;
}

.signup-description {
  margin-bottom: 39px;
  color: $base--color-secondary;
  font-size: 20px;
  @include line-height(2);
  text-align: center;
}

form.signup-form {
  width: 100%;
  max-width: 480px;
  margin-bottom: 32px;
}

.signup-scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"], input[type="email"], input[type="submit"] {
  height: 64px;
  margin-bottom: 16px;
  border: none;
  border-radius: 8px;
  font-family: inherit;
  font-size: inherit;
}

input[type="text"], input[type="email"] {
  padding: 0 24px;
  border: 1px solid $color--gallery;
  background: $color--alabaster;
  font-size: 20px;
}

input[type="text"]::placeholder, input[type="text"]::placeholder {
  color: $base--color-tertiary;
}

input[type="submit"] {
  font-size: 20px;
  font-weight: 700;
  color: white;
  background: $color--spoke;
}

.signup-email {
  width: 100%;
}

.signup-additional-info {
  display: flex;

  width: 100%;
}

.signup-name {
  width: 272px;
}

.signup-company {
  width: 192px;
  margin-left: 16px;
}

.signup-responses {

  > .responses-text {
    font-weight: 700;
    text-align: center;
    line-height: 32px;

    a {
      text-decoration: none;
      color: $color--spoke;
    }
  }
}

.signup-submit {
  width: 160px;
  margin-top: 32px;
  cursor: pointer;
}

.signup-contact {
  color: $base--color-secondary;
  text-align: center;

  > a {
    color: $color--spoke;
    font-weight: 700;
    text-decoration: none;
  }
}

/* FOOTER
=============================================================== */

footer.footer {
  display: flex;
  justify-content: center;

  height: 96px;
}

.footer-container {
  @include container();

  display: flex;
  justify-content: space-between;
}

.footer-wordmark {
  height: 28px;
  margin-top: 26px;
}

.footer-copyright {
  margin-top: 29px;
  color: $base--color-tertiary;
  @include line-height(1.5);
}

/* MEDIA QUERIES
=============================================================== */

@media only screen and (max-width: 1024px) {
  .demo-illustration {
    right: -48px;
  }
}

@media only screen and (max-width: 888px) {
  section.hero {
    height: auto;
    background: white;
  }

  .cta-texture-container {
    overflow: visible;
  }

  .container-demo {
    display: none;
  }

  .text-theme {
    padding-top: 48px;

    > p {
      font-size: 16px;
    }
  }

  .text-statement {
    font-size: 32px;
    @include line-height(2.5);
  }

  .text-description {
    font-size: 16px;
  }

  .diagram-illustration {
    height: 320px;
  }
}

@media only screen and (max-width: 720px) {
  .container-cta {
    align-items: center;

    text-align: center;
  }

  .cta-texture-container {
    left: - ($page--margin-lr - 8px);
  }

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 !important;
    text-align: center;
  }

  .text-theme > p {
    display: none;
  }

  .container-diagram {
    justify-content: initial !important;
  }

  .diagram-illustration {
    margin: 0 !important;
  }

  .content-item {
    margin: 0;
  }

  .text-to-diagram .item-container {
    flex-direction: column-reverse;
  }

  .diagram-to-text .item-container {
    flex-direction: column;
  }

  .header-container {
    justify-content: center;
  }

  .signup-description {
    font-size: 16px;
  }

  .signup-additional-info {
    flex-direction: column;
  }

  .signup-name {
    width: 100%;
  }

  .signup-company {
    width: 100%;
    margin: 0;
  }

  footer.footer {
    height: auto;
    padding: 0 0 48px;
  }

  .footer-container {
    flex-direction: column;

    text-align: center;
  }

  .footer-wordmark {
    margin: 0 0 16px;
  }

  .footer-copyright {
    margin: 0;
    font-size: 12px;
  }
}

@media only screen and (max-width: 640px) {
  .container-cta h1 {
    font-size: 42px;
    @include line-height(3.5);
  }
}